# 더미변수 생성 및 예측

In [14]:
#필요한 패키지를 import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#jupyter에서 matplotlib을 사용해 만든 graph를 화면에 표시하기 위해 필요
%matplotlib inline 

#아래는 한글을 사용할 때 깨지는 문제에 대한 해결
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

#그래프의 축 등에서 음수를 표시할 때 minus sign이 깨지는 것 해결
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False

plt.rcParams["figure.figsize"] = (12, 12)

import warnings
warnings.filterwarnings('ignore')

## 1. 데이터 불러오기

In [15]:
data = pd.read_csv('data/predict/predict_dummy전.csv', encoding='utf-8', index_col=0)
data

,광역시도명,측정날짜,측정일시,PM10,기온,강수량,풍속,습도,운량,확진자수,계절,요일,기념일,공휴일,눈비,날씨
0,서울,2021-03-19,0,116.240,12.50,0.0,0.80,47.0,9.0,118,봄,금,0,0,0,4
1,서울,2021-03-19,1,114.400,12.40,0.0,1.70,49.0,9.0,118,봄,금,0,0,0,4
2,서울,2021-03-19,2,97.360,12.50,0.0,2.40,52.0,10.0,118,봄,금,0,0,0,4
3,서울,2021-03-19,3,96.800,12.40,0.0,2.60,55.0,10.0,118,봄,금,0,0,0,4
4,서울,2021-03-19,4,90.640,12.20,0.0,1.80,55.0,10.0,118,봄,금,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,경기도,2021-04-19,19,68.578,15.08,0.0,2.42,55.8,0.0,180,봄,월,0,0,0,1
1532,경기도,2021-04-19,20,67.990,13.62,0.0,2.04,62.0,0.0,180,봄,월,0,0,0,1
1533,경기도,2021-04-19,21,66.196,12.50,0.0,1.80,65.4,1.0,180,봄,월,0,0,0,1
1534,경기도,2021-04-19,22,64.941,11.36,0.0,1.58,71.4,0.0,180,봄,월,0,0,0,1
1535,경기도,2021-04-19,23,63.078,10.34,0.0,1.12,76.2,1.6,180,봄,월,0,0,0,1

## 2. 더미변수 생성

In [16]:

dummy_dict = {'요일': 'day', '측정일시': 'time', '계절': 'season', '공휴일' : 'holiday', '기념일' : 'holiday2', '날씨' : 'climate', '눈비': 'rain_snow'}

def get_all_dummies(data=None, dummy_dict=None):
    
    df = pd.DataFrame()
    
    for dummy in list(dummy_dict.keys()):
        
        tmp_df = pd.get_dummies(data[dummy], prefix=dummy_dict[dummy])
        
        df = pd.concat([df, tmp_df], axis=1)
        
    return df



def get_predict_data(origin_data=None):
    
    dummy_data = get_all_dummies(data=origin_data, dummy_dict=dummy_dict)
    
    tmp_df = origin_data.drop(list(dummy_dict.keys())+['측정날짜'], axis=1)
    
    final_data = pd.concat([tmp_df, dummy_data], axis=1)
    
    return final_data

In [17]:
final_df = get_predict_data(origin_data=data)
final_df

,광역시도명,PM10,기온,강수량,풍속,습도,운량,확진자수,day_금,day_목,...,season_봄,holiday_0,holiday2_0,holiday2_1,climate_1,climate_2,climate_3,climate_4,rain_snow_0,rain_snow_1
0,서울,116.240,12.50,0.0,0.80,47.0,9.0,118,1,0,...,1,1,1,0,0,0,0,1,1,0
1,서울,114.400,12.40,0.0,1.70,49.0,9.0,118,1,0,...,1,1,1,0,0,0,0,1,1,0
2,서울,97.360,12.50,0.0,2.40,52.0,10.0,118,1,0,...,1,1,1,0,0,0,0,1,1,0
3,서울,96.800,12.40,0.0,2.60,55.0,10.0,118,1,0,...,1,1,1,0,0,0,0,1,1,0
4,서울,90.640,12.20,0.0,1.80,55.0,10.0,118,1,0,...,1,1,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,경기도,68.578,15.08,0.0,2.42,55.8,0.0,180,0,0,...,1,1,1,0,1,0,0,0,1,0
1532,경기도,67.990,13.62,0.0,2.04,62.0,0.0,180,0,0,...,1,1,1,0,1,0,0,0,1,0
1533,경기도,66.196,12.50,0.0,1.80,65.4,1.0,180,0,0,...,1,1,1,0,1,0,0,0,1,0
1534,경기도,64.941,11.36,0.0,1.58,71.4,0.0,180,0,0,...,1,1,1,0,1,0,0,0,1,0
1535,경기도,63.078,10.34,0.0,1.12,76.2,1.6,180,0,0,...,1,1,1,0,1,0,0,0,1,0

In [18]:
final_df['season_여름'] = 0
final_df['season_가을'] = 0
final_df['season_겨울'] = 0
final_df['holiday_1'] = 0
final_df['holiday_2'] = 0

In [19]:
final_df

,광역시도명,PM10,기온,강수량,풍속,습도,운량,확진자수,day_금,day_목,...,climate_2,climate_3,climate_4,rain_snow_0,rain_snow_1,season_여름,season_가을,season_겨울,holiday_1,holiday_2
0,서울,116.240,12.50,0.0,0.80,47.0,9.0,118,1,0,...,0,0,1,1,0,0,0,0,0,0
1,서울,114.400,12.40,0.0,1.70,49.0,9.0,118,1,0,...,0,0,1,1,0,0,0,0,0,0
2,서울,97.360,12.50,0.0,2.40,52.0,10.0,118,1,0,...,0,0,1,1,0,0,0,0,0,0
3,서울,96.800,12.40,0.0,2.60,55.0,10.0,118,1,0,...,0,0,1,1,0,0,0,0,0,0
4,서울,90.640,12.20,0.0,1.80,55.0,10.0,118,1,0,...,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,경기도,68.578,15.08,0.0,2.42,55.8,0.0,180,0,0,...,0,0,0,1,0,0,0,0,0,0
1532,경기도,67.990,13.62,0.0,2.04,62.0,0.0,180,0,0,...,0,0,0,1,0,0,0,0,0,0
1533,경기도,66.196,12.50,0.0,1.80,65.4,1.0,180,0,0,...,0,0,0,1,0,0,0,0,0,0
1534,경기도,64.941,11.36,0.0,1.58,71.4,0.0,180,0,0,...,0,0,0,1,0,0,0,0,0,0
1535,경기도,63.078,10.34,0.0,1.12,76.2,1.6,180,0,0,...,0,0,0,1,0,0,0,0,0,0

In [20]:
final_df = final_df[['광역시도명', '기온', '풍속', '습도', 'PM10', '운량', '강수량', '확진자수',
                     'day_금', 'day_목', 'day_수', 'day_월', 'day_일', 'day_토', 'day_화', 'time_0',
       'time_1', 'time_2', 'time_3', 'time_4', 'time_5', 'time_6', 'time_7',
       'time_8', 'time_9', 'time_10', 'time_11', 'time_12', 'time_13',
       'time_14', 'time_15', 'time_16', 'time_17', 'time_18', 'time_19',
       'time_20', 'time_21', 'time_22', 'time_23', 'season_가을', 'season_겨울',
       'season_봄', 'season_여름', 'holiday_0', 'holiday_1', 'holiday_2',
       'holiday2_0', 'holiday2_1', 'climate_1', 'climate_2', 'climate_3',
       'climate_4', 'rain_snow_0', 'rain_snow_1']]

In [39]:
final_df.to_csv('data/predict_final.csv', encoding='utf-8')

## 3. 광역시도별로 데이터 나누기

In [22]:

seoul = final_df.loc[final_df['광역시도명']=='서울']
seoul.drop('광역시도명', axis=1, inplace=True)

gg = final_df.loc[final_df['광역시도명']=='경기도'].reset_index(drop=True)
gg.drop('광역시도명', axis=1, inplace=True)

In [23]:
seoul.columns

Index(['기온', '풍속', '습도', 'PM10', '운량', '강수량', '확진자수', 'day_금', 'day_목',
       'day_수', 'day_월', 'day_일', 'day_토', 'day_화', 'time_0', 'time_1',
       'time_2', 'time_3', 'time_4', 'time_5', 'time_6', 'time_7', 'time_8',
       'time_9', 'time_10', 'time_11', 'time_12', 'time_13', 'time_14',
       'time_15', 'time_16', 'time_17', 'time_18', 'time_19', 'time_20',
       'time_21', 'time_22', 'time_23', 'season_가을', 'season_겨울', 'season_봄',
       'season_여름', 'holiday_0', 'holiday_1', 'holiday_2', 'holiday2_0',
       'holiday2_1', 'climate_1', 'climate_2', 'climate_3', 'climate_4',
       'rain_snow_0', 'rain_snow_1'],
      dtype='object')

In [35]:
import joblib

loaded_model = joblib.load('../model/서울_분식_ridge.pkl')

pred = loaded_model.predict(seoul.values)

np.exp(pred)

array([  7.15150242,   4.09725581,   2.87330889,   8.94028958,
         2.59296553,  17.15210659,   2.00956112,   3.69788127,
         2.46557284,   2.10879582,  14.89052932,  63.89807167,
        61.39657961,  48.48812308,  38.72869006,  36.71779529,
        44.04981164,  62.82539529,  88.10774221,  85.89924185,
        58.61188988,  42.213689  ,  24.48495168,  10.8050135 ,
         7.30925422,   4.44174904,   3.15262237,   9.83625027,
         2.86189755,  18.98814056,   2.2402473 ,   4.1605231 ,
         2.8025256 ,   2.60248655,  18.73020635,  81.47305387,
        87.08000169,  63.11593975,  50.76694359,  50.86722147,
        57.92925556,  82.17782509, 112.55401056, 108.84671388,
        73.47807817,  52.61050326,  31.06251138,  13.16288256,
         8.15279929,   4.6791137 ,   3.32080141,  10.36917252,
         2.87309866,  20.22425606,   2.24479635,   4.41115634,
         2.96207449,   2.70826361,  19.34747806,  83.47791847,
        76.67683872,  64.87438774,  48.81496563,  48.32513089,
        55.66380742,  80.63098134, 110.09874522, 106.88587388,
        71.64978705,  48.97595338,  30.5049751 ,  12.65381414,
         5.97662055,   3.42965661,   2.42856319,   7.57686136,
         2.20646078,  14.62726235,   1.72359998,   3.1987353 ,
         2.12703083,   1.92271132,  13.54144454,  58.33491315,
        55.94844998,  44.45657012,  35.80591269,  34.03841139,
        41.00779342,  57.94770645,  80.22013721,  77.64552046,
        52.86251211,  36.39941723,  22.43265819,   9.52503935,
         6.55441677,   3.8087346 ,   2.67258449,   8.34339304,
         2.43741197,  16.23320086,   1.90446036,   3.55064178,
         2.36458193,   2.14747304,  14.98100256,  64.02066992,
        61.77768188,  48.54184372,  39.10642992,  36.84830981,
        44.86082987,  63.89521172,  88.42532171,  85.42729979,
        57.72988051,  39.58916541,  24.34368353,  10.20576718,
         5.6456763 ,   3.25299402,   2.30355676,   7.28046294,
         2.09616776,  13.93076985,   1.65236942,   3.24810259,
         2.16986334,   1.96149526,  13.83282565,  55.49657154,
        52.90579818,  41.44508561,  33.38208122,  31.43666472,
        37.70767881,  54.21176163,  74.74048233,  72.71161151,
        49.05473993,  33.50444093,  20.62667885,   8.66978044,
         5.8160325 ,   3.30831338,   2.33169769,   7.28251916,
         2.12668551,  14.04748148,   1.64450074,   3.26640379,
         2.06467519,   1.88631986,  13.18418069,  56.60322468,
        54.96375723,  43.52131851,  34.79896829,  33.37066607,
        40.49468598,  58.0024343 ,  80.64014929,  79.19698693,
        53.72905955,  37.11411222,  22.97400557,   9.73788654,
         6.93934191,   4.00480348,   2.85382061,   8.89084553,
         2.59872732,  17.25279802,   2.16405228,   4.02565379,
         2.51814407,   2.29230613,  16.15854527,  68.73512185,
        69.38557425,  51.01631206,  42.33793246,  37.66475217,
        44.72191297,  64.41227255,  88.06332913,  87.75101792,
        59.02919091,  40.80033631,  25.37718587,  10.59979313,
         7.75754318,   4.4270863 ,   3.3132388 ,   9.76454575,
         2.82430009,  18.66727372,   2.33144464,   4.34770536,
         2.89233321,   2.6481335 ,  18.81500002,  80.88384751,
        77.77566402,  62.55580743,  50.67737749,  53.29455842,
        58.33523273,  82.66929284, 134.81951102, 107.38357276,
        71.72193917,  55.17307059,  29.77651579,  12.37939275,
         8.57487723,   4.31409655,   3.0452289 ,  10.49153234,
         2.82765929,  18.88666792,   2.37155823,   4.19900368,
         2.80749089,   2.7911365 ,  18.44666779,  79.84844087,
        81.71842996,  62.04525797,  50.32545486,  47.95485193,
        57.83428035,  82.22469233, 111.87570084, 106.82728939,
        72.02079707,  49.18318587,  30.27640128,  12.76338183,
         6.38469664,   3.4460334 ,   2.57213338,   9.23800402,
         2.71855547,  18.59240508,   2.20801006,   4.08501424,
         2.59390535,   2.43074729,  17.58136434,  70.23550934,
        62.65052714,  48.43013386,  38.79779358,  39.20682835,
        44.36798768,  63.42563717,  85.63040059,  83.32770603,
        56.84205219,  39.86523185,  25.55413901,  11.06878191,
         7.64214625,   4.36889624,   3.07940761,   9.49069594,
         2.72012775,  17.83888327,   2.07030038,   3.80144043,
         2.48821153,   2.25011709,  15.44391897,  63.98227384,
        61.00030081,  47.20964117,  37.38250801,  35.23641692,
        42.26598991,  60.43728484,  84.18560833,  82.62167764,
        56.42130871,  38.70360927,  23.84773286,  10.00813887,
         5.63239338,   3.25116887,   2.30027087,   7.17553207,
         2.08992414,  13.88977791,   1.63821547,   3.0543136 ,
         2.02735929,   1.80923494,  12.62550781,  53.91103954,
        51.24417349,  40.16910443,  31.75170289,  29.91892836,
        36.12297087,  51.58016827,  70.97725647,  69.32689283,
        47.3236215 ,  32.85591545,  19.95512657,   8.48122728,
         5.84367484,   3.34203553,   2.37725957,   7.36354605,
         2.14779107,  14.11856843,   1.66449265,   3.10959043,
         2.0634343 ,   1.86293298,  13.15409231,  55.97212027,
        53.52913268,  42.23316892,  33.89508444,  32.43108982,
        38.90690121,  55.87083546,  77.11871261,  76.08172177,
        50.81744203,  34.92645524,  21.85405199,   9.28287617,
         6.82296146,   3.93288044,   2.78072666,   8.27001405,
         2.40399625,  16.71020962,   1.96122982,   3.63056468,
         2.29066798,   2.09087594,  14.482033  ,  62.13955904,
        63.14783963,  49.61659128,  39.83850199,  37.60934527,
        45.85036255,  65.71555692,  90.365332  ,  87.98651763,
        59.63860807,  40.82853459,  25.13072968,  10.53211287,
         7.57131891,   4.33614478,   3.06179217,   9.49595924,
         2.75779194,  18.21259106,   2.1515121 ,   3.99379961,
         2.68292585,   2.46520377,  18.59866022,  85.54864262,
        92.10057583,  70.21361276,  54.64244472,  51.28757736,
        61.66689727,  85.64539521, 118.34234789, 114.4540146 ,
        73.7876154 ,  48.31800961,  33.523065  ,  13.06045671,
         7.76197649,   4.64575387,   3.16034826,   9.81886208,
         2.85856505,  19.83327266,   2.18989338,   4.14595341,
         2.77608681,   2.53575655,  17.97092324,  77.15193814,
        70.39789044,  55.00533896,  44.58773299,  42.60043991,
        51.71081631,  73.79321946, 101.39125617,  97.68005885,
        66.90934653,  46.15369186,  28.40173713,  11.95428013,
         5.66441146,   3.26673959,   2.32395767,   7.27179658,
         2.11730743,  14.06006239,   1.65855113,   3.07858523,
         2.02112841,   1.82396191,  12.80626553,  54.59859498,
        52.69506474,  41.36048574,  32.93816471,  31.20266833,
        37.69408166,  54.77361984,  76.13275292,  73.36670088,
        49.76710218,  34.2482702 ,  21.22429872,   8.99169323,
         6.55335346,   3.77125329,   2.65260756,   7.83547191,
         2.28225433,  16.0707197 ,   1.89067002,   3.31720557,
         2.21109224,   1.99882818,  14.24990069,  60.57142918,
        58.4655192 ,  46.07861326,  36.88539038,  35.18687753,
        42.553892  ,  60.96565133,  83.50444243,  81.23916788,
        55.03520194,  37.87502747,  23.46245656,   9.88732573,
         5.58863467,   3.25580361,   2.29331721,   7.17158806,
         2.09694784,  13.94406934,   1.64725654,   3.05716418,
         2.02157846,   1.81991791,  12.76479011,  54.54767922,
        51.97183295,  40.89604083,  32.56540008,  30.97332484,
        37.70809503,  53.88681479,  74.10879184,  71.99344487,
        48.73855462,  33.64706645,  20.86204173,   8.89049316,
         6.01425193,   3.47493232,   2.46391941,   7.67770592,
         2.25141832,  14.99700054,   1.77076323,   3.30799627,
         2.16197582,   1.94327394,  13.70151534,  57.96948442,
        57.32146031,  45.19364606,  35.90107989,  34.26748095,
        41.31982864,  59.04594435,  81.22472691,  79.39734359,
        53.68713543,  36.81912937,  22.84418744,   9.6408568 ,
         6.68930359,   3.85164085,   2.73095852,   8.56315707,
         2.50941436,  16.66172427,   1.95722688,   3.59084848,
         2.35931823,   2.13432148,  14.97262075,  63.71715638,
        61.91829412,  49.33005535,  39.08698736,  37.10394429,
        44.90967694,  64.42546893,  88.40890447,  85.98590004,
        58.52000686,  40.1015207 ,  24.75165678,  10.46586376,
         7.5792092 ,   4.37834291,   3.10945683,   9.7321066 ,
         2.84040747,  18.86154007,   2.22772264,   4.12290428,
         2.72943759,   2.46180456,  17.2958849 ,  73.98223305,
        72.02888572,  56.67989423,  45.64345478,  43.54264255,
        53.04961014,  76.02649608, 104.20228702, 101.5450424 ,
        68.70997415,  47.34491744,  29.12441374,  12.24561718,
         7.54162202,   4.32103006,   3.07293397,   9.60084767,
         2.79338541,  18.52422638,   2.18127116,   4.05392917,
         2.67395099,   2.40699599,  16.79854898,  71.42825232,
        68.71433972,  54.12655036,  43.70352227,  41.49295292,
        49.65526693,  72.0227558 ,  99.47880149,  96.26922639,
        68.73880732,  47.10908543,  29.11705686,  12.18501231,
         5.77306048,   3.33325935,   2.35814282,   7.34117648,
         2.02827218,  14.23385827,   1.67310234,   3.10813386,
         2.07039228,   1.89177059,  13.40049332,  57.46537144,
        55.63406219,  44.57468424,  38.3740418 ,  37.37032836,
        45.60973718,  65.05569273,  87.79643861,  87.20383508,
        58.84650257,  38.40444296,  23.31557186,   9.61914733,
         6.97156941,   4.00641313,   2.80321807,   8.7676548 ,
         2.52384219,  16.60771572,   1.85814019,   3.42812117,
         2.3150953 ,   2.00647187,  14.1380781 ,  62.26643763,
        60.5899161 ,  48.1890637 ,  39.31654414,  37.19064665,
        45.43345354,  64.87780526,  89.55857731,  86.24975894,
        58.4692081 ,  40.39674925,  24.7399289 ,  10.46566697,
         5.6128311 ,   3.21369285,   2.27906147,   7.13488274,
         2.080081  ,  13.79306539,   1.62526679,   3.00870901,
         1.98780752,   1.80439374,  12.72914664,  53.94799879,
        51.98735932,  41.58677709,  33.58035194,  31.79231093,
        38.68091485,  55.17564386,  75.76226015,  73.95723721,
        49.86993324,  34.19673315,  21.10654391,   8.79834694,
         6.24438277,   3.57552861,   2.5330552 ,   8.00869316,
         2.30884453,  15.2483514 ,   1.89691239,   3.32868357,
         2.21395358,   2.00885134,  14.14852085,  61.17217713,
        58.35550126,  45.7899956 ,  36.77394793,  34.65082334,
        42.13362965,  60.17271977,  82.48848972,  80.6110429 ,
        54.56939797,  37.27227244,  23.05111663,   9.68077631,
         6.76463374,   3.90672889,   2.89645461,   8.4653054 ,
         2.58900098,  17.15134875,   2.01189503,   3.51169052,
         2.47886162,   2.28405237,  16.3802451 ,  71.59628742,
        73.20254784,  55.04482003,  41.86255255,  39.34687398,
        49.89325896,  78.17264221, 111.57142421,  99.47748954,
        63.56453172,  43.0631558 ,  26.67350805,  11.15858725,
         8.04415623,   4.61255893,   3.26610223,  10.18026159,
         2.97233868,  19.7062717 ,   2.30738054,   4.29026375,
         2.82547185,   2.74063808,  19.7507057 ,  88.1004429 ,
        87.17403493,  68.96996364,  50.89111288,  47.94842559,
        56.84106681,  81.09437219, 109.51139205, 105.40220689,
        70.65471749,  48.54129473,  30.03395082,  12.57000162,
         7.68669082,   4.42122812,   3.11727476,   9.65175614,
         2.81716507,  18.6473794 ,   2.19355008,   4.04916876,
         2.70058209,   2.4678039 ,  17.38864585,  74.73349462,
        72.29704633,  57.18214716,  46.2236351 ,  43.72533892,
        52.25737124,  74.77919045, 103.26326258, 101.22777543,
        68.27028192,  46.70324284,  28.79019731,  12.06327071,
         5.74246211,   3.30323699,   2.34710985,   7.30290549,
         2.12619247,  14.12198231,   1.67070094,   3.09239178,
         2.03557705,   1.84180129,  12.85079116,  54.97505841,
        53.11451944,  41.77503413,  33.43151387,  31.80415924,
        38.62803686,  55.41826093,  76.23914096,  74.43006995,
        50.69044589,  34.95104996,  21.50678757,   9.01552591])