## 코로나 확진자 (서울, 경기도) 파일 병합하기

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 1) 서울시

In [24]:
raw_seoul = pd.read_csv('data/서울시 코로나19 확진자 현황.csv', engine='python')
raw_seoul

,연번,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일,노출여부
0,35776,2021-04-19,NaN,NaN,NaN,강북구,NaN,감염경로 조사중,NaN,NaN,NaN,2021-04-20 10:05:36,2021-04-20 10:05:36,Y
1,35775,2021-04-19,NaN,NaN,NaN,구로구,NaN,감염경로 조사중,NaN,NaN,NaN,2021-04-20 10:05:36,2021-04-20 10:05:36,Y
2,35774,2021-04-19,NaN,NaN,NaN,서초구,NaN,기타 확진자 접촉,NaN,NaN,NaN,2021-04-20 10:05:36,2021-04-20 10:05:36,Y
3,35773,2021-04-19,NaN,NaN,NaN,양천구,NaN,기타 확진자 접촉,NaN,NaN,NaN,2021-04-20 10:05:36,2021-04-20 10:05:36,Y
4,35772,2021-04-19,NaN,NaN,NaN,강북구,불가리아,해외유입,NaN,NaN,NaN,2021-04-20 10:05:36,2021-04-20 10:05:36,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35771,5,2020-01-31,NaN,NaN,NaN,성북구,NaN,기타 확진자 접촉,NaN,퇴원,NaN,2021-03-24 10:53:39,2021-03-24 13:05:30,Y
35772,4,2020-01-30,NaN,NaN,NaN,마포구,중국,해외유입,NaN,퇴원,NaN,2021-03-24 10:53:39,2021-03-24 13:05:30,Y
35773,3,2020-01-30,NaN,NaN,NaN,종로구,NaN,종로구 집단발병,NaN,퇴원,NaN,2021-03-24 10:53:39,2021-03-24 13:05:30,Y
35774,2,2020-01-30,NaN,NaN,NaN,중랑구,중국,해외유입,NaN,퇴원,NaN,2021-03-24 10:53:39,2021-03-24 13:05:30,Y
35775,1,2020-01-24,NaN,NaN,NaN,강서구,중국,해외유입,NaN,퇴원,NaN,2021-03-24 10:53:39,2021-03-24 13:05:30,Y

In [25]:
## 확진일 포맷 변경
raw_seoul['확진일']= pd.to_datetime(raw_seoul['확진일'].astype('str'), format='%Y-%m-%d')

In [26]:
sort_seoul = raw_seoul.sort_values('확진일', ascending=True)

In [27]:
grouped_seoul = sort_seoul.groupby('확진일').count()[['연번']].reset_index()

In [28]:
grouped_seoul['광역시도명'] = '서울'

In [29]:
grouped_seoul.columns = ['확진일자', '확진자수', '광역시도명']

In [30]:
grouped_seoul

          확진일자  확진자수 광역시도명
0   2020-01-24     1    서울
1   2020-01-30     3    서울
2   2020-01-31     3    서울
3   2020-02-02     1    서울
4   2020-02-05     2    서울
..         ...   ...   ...
415 2021-04-15   216    서울
416 2021-04-16   217    서울
417 2021-04-17   204    서울
418 2021-04-18   137    서울
419 2021-04-19   148    서울

[420 rows x 3 columns]

In [31]:
covid_seoul = grouped_seoul.loc[(grouped_seoul['확진일자']>='2021-03-19')&(grouped_seoul['확진일자']<='2021-04-19')]

### 2) 경기도

In [32]:
raw_gg = pd.read_excel('data/2.xlsx')
raw_gg.head()

,연번,확진자,성별,나이(만),연령대,확진일자,증상발현일,무증상/조사중,경기번호,지역,재검출,감염경로,GRP,구분,구분2,구분.1
0,1,3,M,54,50,2020. 1. 26.,2020. 1. 22.,,고양-1,고양일산서,,해외유입,grp01,Primary,,Primary
1,2,4,M,55,50,2020. 1. 27.,2020. 1. 25.,,평택-1,평택,,해외유입,grp02,Primary,,Primary
2,3,12,M,48,40,2020. 2. 1.,2020. 1. 20.,,부천-1,부천,,해외유입,grp03,Primary,,Primary
3,4,14,F,40,40,2020. 2. 2.,2020. 1. 29.,,부천-2,부천,,해외유입,grp03,접촉자,,접촉자
4,5,15,M,42,40,2020. 2. 5.,2020. 2. 1.,,수원-1,수원장안,,해외유입,grp04,Primary,,Primary

In [33]:
raw_gg['확진일자'] = pd.to_datetime(raw_gg['확진일자'].astype('str'))

In [34]:
raw_gg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연번       32135 non-null  int64
 1   확진자      32135 non-null  object
 2   성별       32135 non-null  object
 3   나이(만)    32135 non-null  int64
 4   연령대      32135 non-null  int64
 5   확진일자     32135 non-null  datetime64[ns]
 6   증상발현일    20791 non-null  object
 7   무증상/조사중  32135 non-null  object
 8   경기번호     32135 non-null  object
 9   지역       32135 non-null  object
 10  재검출      32135 non-null  object
 11  감염경로     32135 non-null  object
 12  GRP      32135 non-null  object
 13  구분       7462 non-null   object
 14  구분2      32135 non-null  object
 15  구분.1     7462 non-null   object
dtypes: datetime64[ns](1), int64(3), object(12)
memory usage: 3.9+ MB

In [35]:
grouped_gg = raw_gg.groupby('확진일자').count()[['연번']].reset_index()

In [36]:
grouped_gg['광역시도명'] = '경기도'

In [37]:
grouped_gg.columns = ['확진일자', '확진자수', '광역시도명']

In [38]:
grouped_gg

          확진일자  확진자수 광역시도명
0   2020-01-26     1   경기도
1   2020-01-27     1   경기도
2   2020-02-01     1   경기도
3   2020-02-02     1   경기도
4   2020-02-05     2   경기도
..         ...   ...   ...
424 2021-04-15   206   경기도
425 2021-04-16   211   경기도
426 2021-04-17   182   경기도
427 2021-04-18   151   경기도
428 2021-04-19   180   경기도

[429 rows x 3 columns]

In [39]:
covid_gg = grouped_gg.loc[(grouped_gg['확진일자'] >= '2021-03-19')&(grouped_gg['확진일자'] <= '2021-04-19')]

In [40]:
covid_final = pd.concat([covid_seoul, covid_gg], axis=0)

In [41]:
covid_final.sort_values('확진일자', ascending=True)

          확진일자  확진자수 광역시도명
388 2021-03-19   118    서울
397 2021-03-19   187   경기도
398 2021-03-20   158   경기도
389 2021-03-20   124    서울
390 2021-03-21   108    서울
..         ...   ...   ...
417 2021-04-17   204    서울
427 2021-04-18   151   경기도
418 2021-04-18   137    서울
419 2021-04-19   148    서울
428 2021-04-19   180   경기도

[64 rows x 3 columns]

In [42]:
covid_final.to_csv('data/predict/predict_covid.csv', encoding='utf-8')