# 기상데이터 병합 및 일자별 평균

* 각 관측소마다 일시별로 측정된 데이터를 일시별로 평균냄

In [4]:
# 필요 라이브러리 import
import pandas as pd
import numpy as np
import time
from tqdm.notebook import tqdm
from urllib import parse
import os

In [15]:
data = pd.read_excel('data/raw_data/미세먼지/2019년 7월.xlsx')
data.head(3)

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 중구,도시대기,111121,중구,2019070101,0.002,0.5,0.055,0.010,40.0,29.0,서울 중구 덕수궁길 15
1,서울 중구,도시대기,111121,중구,2019070102,0.002,0.5,0.056,0.012,36.0,29.0,서울 중구 덕수궁길 15
2,서울 중구,도시대기,111121,중구,2019070103,0.003,0.7,0.055,0.011,37.0,30.0,서울 중구 덕수궁길 15

In [18]:
data = data.loc[(data['망'] == '도시대기')].reset_index(drop=True)

In [6]:
data['측정날짜'] = data['측정일시'].astype('str').str[:-2]

data['측정일시'] = data['측정일시'].astype('str').str[-2:].replace('24', '00')

In [8]:
data['지역'] = data['지역'].str[:2]

In [12]:
data = data.loc[(data['지역'] == '서울') | (data['지역'] == '경기')].reset_index(drop=True)

In [19]:
data

Empty DataFrame
Columns: [지역, 망, 측정소코드, 측정소명, 측정일시, SO2, CO, O3, NO2, PM10, PM25, 주소]
Index: []

In [14]:
data.groupby(['지역', '측정날짜', '측정일시']).mean().iloc[:, 1:].reset_index()

,지역,측정날짜,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,경기,20190701,00,0.003209,0.494048,0.042465,0.014953,30.529412,20.559524
1,경기,20190701,01,0.002779,0.463095,0.052012,0.006400,49.541176,36.216867
2,경기,20190701,02,0.002907,0.490476,0.054435,0.005918,54.690476,38.964286
3,경기,20190701,03,0.003058,0.503571,0.054671,0.006024,52.011905,38.154762
4,경기,20190701,04,0.003070,0.522619,0.052812,0.006553,48.048193,36.590361
...,...,...,...,...,...,...,...,...,...
1483,서울,20190731,19,0.003600,0.443478,0.012160,0.029840,20.956522,11.391304
1484,서울,20190731,20,0.003440,0.439130,0.011120,0.027000,24.083333,13.458333
1485,서울,20190731,21,0.003400,0.365217,0.016583,0.018200,24.920000,14.320000
1486,서울,20190731,22,0.003440,0.343478,0.016542,0.017560,24.960000,14.086957
1487,서울,20190731,23,0.003400,0.339130,0.017708,0.016720,22.080000,13.875000

In [26]:
## 함수화


pollution = pd.DataFrame()
base_path = 'data/raw_data/미세먼지/'
file_list = os.listdir('data/raw_data/미세먼지/')

for file in tqdm(file_list[1:]):

    # 파일 경로 결합 및 불러오기
    file_path = base_path + file
    data = pd.read_excel(file_path)
    
    # 도시 대기만 사용
    data = data.loc[(data['망'] == '도시대기')].reset_index(drop=True)
    
    
    data['지역'] = data['지역'].str[:2]
    # 서울, 경기만 추출
    data = data.loc[(data['지역'] == '서울') | (data['지역'] == '경기')].reset_index(drop=True)
    
    data['측정날짜'] = data['측정일시'].astype('str').str[:-2]
    data['측정일시'] = data['측정일시'].astype('str').str[-2:].replace('24', '00')
    
    grouped_data = data.groupby(['지역', '측정날짜', '측정일시']).mean().reset_index()
    display(grouped_data)
#     grouped_data = data.groupby(['측정날짜', '행정구역']).mean().iloc[:, 1:].reset_index()
    
    pollution = pd.concat([pollution, grouped_data], axis=0)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=15.0), HTML(value='')))

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20191001,00,163870.732558,0.003386,0.502439,0.007771,0.026566,44.475610,28.268293
1,경기,20191001,01,163870.732558,0.003183,0.676543,0.013753,0.038024,80.641975,52.650000
2,경기,20191001,02,163870.732558,0.003110,0.669136,0.012580,0.035512,83.543210,55.400000
3,경기,20191001,03,163870.732558,0.003159,0.661728,0.011506,0.033683,79.271605,53.925000
4,경기,20191001,04,163870.732558,0.003098,0.643210,0.010444,0.031854,75.135802,51.875000
...,...,...,...,...,...,...,...,...,...,...
1483,서울,20191031,19,111211.040000,0.003840,0.624000,0.048760,0.028120,157.958333,40.791667
1484,서울,20191031,20,111211.040000,0.003720,0.640000,0.047440,0.029520,169.833333,45.560000
1485,서울,20191031,21,111211.040000,0.003720,0.672000,0.042520,0.031120,169.000000,46.320000
1486,서울,20191031,22,111211.040000,0.003600,0.656000,0.037240,0.032400,159.583333,44.240000
1487,서울,20191031,23,111211.040000,0.003440,0.640000,0.034760,0.032920,156.583333,44.125000

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20191101,00,163870.732558,0.003560,0.697590,0.003976,0.044869,58.493976,29.142857
1,경기,20191101,01,163870.732558,0.003250,0.581707,0.030298,0.025119,152.280488,42.694118
2,경기,20191101,02,163870.732558,0.003179,0.600000,0.029214,0.022881,152.731707,44.564706
3,경기,20191101,03,163870.732558,0.003083,0.610976,0.027393,0.021381,148.439024,45.070588
4,경기,20191101,04,163870.732558,0.002833,0.618293,0.025155,0.020821,139.902439,43.623529
...,...,...,...,...,...,...,...,...,...,...
1435,서울,20191130,19,111211.040000,0.005160,0.684000,0.003520,0.055840,66.840000,42.916667
1436,서울,20191130,20,111211.040000,0.004840,0.664000,0.004400,0.051640,55.958333,35.791667
1437,서울,20191130,21,111211.040000,0.004880,0.696000,0.003600,0.053000,53.320000,35.347826
1438,서울,20191130,22,111211.040000,0.004880,0.684000,0.004080,0.053080,50.080000,33.250000
1439,서울,20191130,23,111211.040000,0.004560,0.628000,0.006080,0.048680,48.680000,32.250000

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20191201,00,163131.715909,0.002845,0.504762,0.019541,0.019082,31.960000,26.600000
1,경기,20191201,01,163131.715909,0.004833,0.720238,0.003071,0.048059,60.195122,40.279070
2,경기,20191201,02,163131.715909,0.004512,0.705952,0.003294,0.045765,58.619048,40.267442
3,경기,20191201,03,163131.715909,0.004226,0.691667,0.003424,0.043718,55.566265,39.151163
4,경기,20191201,04,163131.715909,0.004155,0.675000,0.003424,0.042012,52.060241,37.069767
...,...,...,...,...,...,...,...,...,...,...
1483,서울,20191231,19,111211.040000,0.003160,0.444000,0.015000,0.026320,22.200000,13.040000
1484,서울,20191231,20,111211.040000,0.003080,0.456000,0.014640,0.026280,24.240000,14.560000
1485,서울,20191231,21,111211.040000,0.003120,0.444000,0.015160,0.024680,24.640000,15.280000
1486,서울,20191231,22,111211.040000,0.002960,0.464000,0.013920,0.024920,22.800000,14.240000
1487,서울,20191231,23,111211.040000,0.003000,0.500000,0.008440,0.031880,23.040000,15.083333

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20190701,00,163870.732558,0.003209,0.494048,0.042465,0.014953,30.529412,20.559524
1,경기,20190701,01,163870.732558,0.002779,0.463095,0.052012,0.006400,49.541176,36.216867
2,경기,20190701,02,163870.732558,0.002907,0.490476,0.054435,0.005918,54.690476,38.964286
3,경기,20190701,03,163870.732558,0.003058,0.503571,0.054671,0.006024,52.011905,38.154762
4,경기,20190701,04,163870.732558,0.003070,0.522619,0.052812,0.006553,48.048193,36.590361
...,...,...,...,...,...,...,...,...,...,...
1483,서울,20190731,19,111211.040000,0.003600,0.443478,0.012160,0.029840,20.956522,11.391304
1484,서울,20190731,20,111211.040000,0.003440,0.439130,0.011120,0.027000,24.083333,13.458333
1485,서울,20190731,21,111211.040000,0.003400,0.365217,0.016583,0.018200,24.920000,14.320000
1486,서울,20190731,22,111211.040000,0.003440,0.343478,0.016542,0.017560,24.960000,14.086957
1487,서울,20190731,23,111211.040000,0.003400,0.339130,0.017708,0.016720,22.080000,13.875000

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20190801,00,163870.732558,0.002805,0.315000,0.008370,0.012220,18.756410,9.564103
1,경기,20190801,01,163870.732558,0.002702,0.322222,0.020580,0.010179,19.370370,8.250000
2,경기,20190801,02,163870.732558,0.002619,0.324691,0.020383,0.009190,19.395062,8.012987
3,경기,20190801,03,163870.732558,0.002643,0.311111,0.020568,0.007619,15.974026,8.402597
4,경기,20190801,04,163870.732558,0.002571,0.307407,0.019000,0.007155,12.443038,5.961039
...,...,...,...,...,...,...,...,...,...,...
1483,서울,20190831,19,111211.040000,0.003625,0.408696,0.035875,0.019875,18.909091,10.909091
1484,서울,20190831,20,111211.040000,0.003875,0.434783,0.031542,0.021417,20.826087,11.285714
1485,서울,20190831,21,111211.040000,0.003750,0.439130,0.029292,0.020750,19.391304,11.227273
1486,서울,20190831,22,111211.040000,0.003583,0.434783,0.026542,0.021083,18.136364,10.681818
1487,서울,20190831,23,111211.040000,0.003583,0.447826,0.022625,0.021542,16.954545,10.428571

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20190901,00,163870.732558,0.003200,0.510714,0.013733,0.026212,30.755814,17.352941
1,경기,20190901,01,163870.732558,0.002965,0.490588,0.011558,0.021988,21.720930,10.905882
2,경기,20190901,02,163870.732558,0.002884,0.484706,0.010930,0.019506,21.290698,11.682353
3,경기,20190901,03,163870.732558,0.002837,0.471765,0.010488,0.017271,21.581395,11.882353
4,경기,20190901,04,163870.732558,0.002826,0.468235,0.009709,0.015812,21.116279,12.152941
...,...,...,...,...,...,...,...,...,...,...
1435,서울,20190930,19,111211.040000,0.004143,0.661905,0.062952,0.045238,78.350000,46.250000
1436,서울,20190930,20,111211.040000,0.004095,0.685714,0.050143,0.044095,79.500000,49.600000
1437,서울,20190930,21,111211.040000,0.004095,0.728571,0.037000,0.045762,81.950000,52.952381
1438,서울,20190930,22,111211.040000,0.004048,0.747619,0.029810,0.046571,79.571429,52.842105
1439,서울,20190930,23,111211.040000,0.003476,0.747619,0.020048,0.051762,77.285714,49.809524

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20200101,00,162087.923077,0.003409,0.677011,0.002602,0.034701,48.988372,37.719101
1,경기,20200101,01,162087.923077,0.003364,0.486207,0.006045,0.031977,27.022727,16.303371
2,경기,20200101,02,162087.923077,0.003295,0.471264,0.006841,0.030046,27.632184,16.602273
3,경기,20200101,03,162087.923077,0.003182,0.466667,0.007716,0.028747,27.636364,16.921348
4,경기,20200101,04,162087.923077,0.003136,0.457471,0.008318,0.027138,25.875000,16.269663
...,...,...,...,...,...,...,...,...,...,...
1483,서울,20200131,19,111211.040000,0.003400,0.596000,0.023040,0.032080,44.920000,32.360000
1484,서울,20200131,20,111211.040000,0.003320,0.612000,0.018960,0.035160,45.160000,32.960000
1485,서울,20200131,21,111211.040000,0.003200,0.620000,0.018000,0.035440,46.600000,34.640000
1486,서울,20200131,22,111211.040000,0.003240,0.668000,0.016320,0.036840,46.200000,34.652174
1487,서울,20200131,23,111211.040000,0.003520,0.708000,0.014400,0.039920,47.333333,34.840000

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20200201,00,161109.819149,0.003341,0.958889,0.016286,0.034055,85.373626,65.494505
1,경기,20200201,01,161109.819149,0.003121,0.714444,0.008846,0.037835,53.241758,38.373626
2,경기,20200201,02,161109.819149,0.003110,0.721111,0.008308,0.035857,53.505495,39.769231
3,경기,20200201,03,161109.819149,0.003022,0.710000,0.009308,0.032637,53.714286,39.538462
4,경기,20200201,04,161109.819149,0.003121,0.692222,0.010143,0.029780,52.813187,39.351648
...,...,...,...,...,...,...,...,...,...,...
1387,서울,20200229,19,111211.040000,0.002720,0.460000,0.027160,0.026720,26.240000,15.920000
1388,서울,20200229,20,111211.040000,0.002840,0.500000,0.022640,0.029320,26.160000,16.960000
1389,서울,20200229,21,111211.040000,0.002960,0.588000,0.016760,0.034680,28.040000,19.120000
1390,서울,20200229,22,111211.040000,0.002800,0.632000,0.011560,0.038920,28.416667,19.600000
1391,서울,20200229,23,111211.040000,0.003160,0.712000,0.006320,0.043760,30.320000,20.640000

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20200301,00,161109.819149,0.002763,0.500000,0.034462,0.011419,41.065217,30.282609
1,경기,20200301,01,161109.819149,0.002699,0.581522,0.006968,0.029505,35.758242,24.967391
2,경기,20200301,02,161109.819149,0.002720,0.590217,0.006957,0.026634,35.741935,25.637363
3,경기,20200301,03,161109.819149,0.002731,0.590217,0.005656,0.025806,35.806452,26.119565
4,경기,20200301,04,161109.819149,0.002645,0.602174,0.005161,0.024645,35.795699,25.527473
...,...,...,...,...,...,...,...,...,...,...
1483,서울,20200331,19,111211.040000,0.003880,0.428000,0.039400,0.031400,49.480000,24.120000
1484,서울,20200331,20,111211.040000,0.003720,0.444000,0.031880,0.036200,43.080000,20.480000
1485,서울,20200331,21,111211.040000,0.003680,0.468000,0.029920,0.034680,43.800000,20.000000
1486,서울,20200331,22,111211.040000,0.003600,0.476000,0.028280,0.034440,45.000000,20.080000
1487,서울,20200331,23,111211.040000,0.003680,0.504000,0.026320,0.035240,48.600000,21.920000

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20200401,00,160192.762887,0.002589,0.339785,0.037674,0.011915,24.260870,16.553191
1,경기,20200401,01,160192.762887,0.003646,0.478723,0.020695,0.032211,56.505263,27.010417
2,경기,20200401,02,160192.762887,0.003771,0.477660,0.026558,0.026200,61.200000,28.385417
3,경기,20200401,03,160192.762887,0.003885,0.484043,0.031853,0.021779,68.463158,32.166667
4,경기,20200401,04,160192.762887,0.003854,0.476596,0.036042,0.019948,73.063158,34.989583
...,...,...,...,...,...,...,...,...,...,...
1435,서울,20200430,19,111211.040000,0.002440,0.352000,0.045480,0.012640,37.560000,19.166667
1436,서울,20200430,20,111211.040000,0.002440,0.368000,0.038800,0.013000,40.000000,19.833333
1437,서울,20200430,21,111211.040000,0.002480,0.360000,0.037080,0.010920,39.916667,19.958333
1438,서울,20200430,22,111211.040000,0.002400,0.336000,0.039000,0.009440,38.960000,20.458333
1439,서울,20200430,23,111211.040000,0.002440,0.328000,0.041200,0.008800,36.920000,21.583333

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20200501,00,159615.474747,0.002735,0.430928,0.045816,0.008454,54.422680,31.091837
1,경기,20200501,01,159615.474747,0.002773,0.402083,0.042680,0.008458,42.052083,21.851064
2,경기,20200501,02,159615.474747,0.002722,0.395833,0.042216,0.007792,42.645833,23.191489
3,경기,20200501,03,159615.474747,0.002619,0.386458,0.042134,0.007354,41.907216,23.648936
4,경기,20200501,04,159615.474747,0.002619,0.386458,0.040052,0.007646,40.917526,24.382979
...,...,...,...,...,...,...,...,...,...,...
1483,서울,20200531,19,111211.040000,0.005240,0.400000,0.056600,0.014160,37.560000,27.800000
1484,서울,20200531,20,111211.040000,0.004480,0.382609,0.053280,0.012800,35.640000,27.000000
1485,서울,20200531,21,111211.040000,0.003560,0.382609,0.052800,0.012040,33.291667,25.400000
1486,서울,20200531,22,111211.040000,0.003040,0.382609,0.052880,0.011240,33.320000,25.320000
1487,서울,20200531,23,111211.040000,0.002600,0.382609,0.046560,0.011160,33.958333,23.560000

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20200601,00,159615.474747,0.002979,0.372165,0.036577,0.015812,22.833333,13.340206
1,경기,20200601,01,159615.474747,0.002598,0.371429,0.050020,0.006175,22.813187,15.780220
2,경기,20200601,02,159615.474747,0.002526,0.350000,0.050541,0.004918,18.336842,14.228261
3,경기,20200601,03,159615.474747,0.002495,0.337755,0.050949,0.004454,16.391304,13.021277
4,경기,20200601,04,159615.474747,0.002485,0.333673,0.050653,0.004340,15.231579,11.562500
...,...,...,...,...,...,...,...,...,...,...
1435,서울,20200630,19,111211.040000,0.002240,0.256000,0.037120,0.010320,6.440000,2.583333
1436,서울,20200630,20,111211.040000,0.002160,0.252000,0.034360,0.009520,6.200000,2.208333
1437,서울,20200630,21,111211.040000,0.002160,0.244000,0.033120,0.008320,6.320000,3.083333
1438,서울,20200630,22,111211.040000,0.002200,0.268000,0.029200,0.011120,5.875000,2.750000
1439,서울,20200630,23,111211.040000,0.002080,0.272000,0.026600,0.012640,5.360000,2.583333

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20200701,00,159059.871287,0.002742,0.471277,0.020957,0.018505,46.591398,27.414894
1,경기,20200701,01,159059.871287,0.002463,0.316842,0.023284,0.011074,10.163043,4.720430
2,경기,20200701,02,159059.871287,0.002547,0.324211,0.022874,0.010064,10.223404,4.957447
3,경기,20200701,03,159059.871287,0.002621,0.317895,0.022737,0.008660,10.810526,4.709677
4,경기,20200701,04,159059.871287,0.002547,0.312632,0.021326,0.008138,11.600000,4.787234
...,...,...,...,...,...,...,...,...,...,...
1483,서울,20200731,19,111211.040000,0.003400,0.328000,0.011320,0.020320,16.320000,9.800000
1484,서울,20200731,20,111211.040000,0.003160,0.348000,0.010400,0.021120,17.200000,9.880000
1485,서울,20200731,21,111211.040000,0.003040,0.332000,0.008480,0.021480,19.875000,11.360000
1486,서울,20200731,22,111211.040000,0.002960,0.328000,0.006560,0.020240,19.541667,12.240000
1487,서울,20200731,23,111211.040000,0.003080,0.292000,0.005240,0.018040,22.958333,14.640000

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20200801,00,159059.871287,0.002531,0.296939,0.022701,0.007459,12.835052,5.020408
1,경기,20200801,01,159059.871287,0.002566,0.295960,0.009184,0.008556,15.824742,6.867347
2,경기,20200801,02,159059.871287,0.002576,0.287879,0.009418,0.007747,15.051020,6.040404
3,경기,20200801,03,159059.871287,0.002636,0.288889,0.008949,0.007182,14.422680,5.585859
4,경기,20200801,04,159059.871287,0.002646,0.297980,0.007469,0.007576,15.275510,5.979798
...,...,...,...,...,...,...,...,...,...,...
1483,서울,20200831,19,111211.040000,0.002400,0.350000,0.017320,0.018640,11.320000,5.200000
1484,서울,20200831,20,111211.040000,0.002400,0.337500,0.014720,0.018000,10.440000,4.708333
1485,서울,20200831,21,111211.040000,0.002560,0.320833,0.015080,0.015280,9.640000,4.333333
1486,서울,20200831,22,111211.040000,0.002560,0.312500,0.014800,0.014440,8.080000,3.400000
1487,서울,20200831,23,111211.040000,0.002400,0.308333,0.015400,0.012640,8.160000,2.840000

,지역,측정날짜,측정일시,측정소코드,SO2,CO,O3,NO2,PM10,PM25
0,경기,20200901,00,158790.088235,0.002745,0.424490,0.017837,0.017667,27.229167,12.858586
1,경기,20200901,01,158790.088235,0.002670,0.332292,0.019439,0.005286,8.711340,3.263158
2,경기,20200901,02,158790.088235,0.002608,0.325000,0.019918,0.004684,9.195876,2.860215
3,경기,20200901,03,158790.088235,0.002680,0.316667,0.019969,0.004531,9.917526,3.093750
4,경기,20200901,04,158790.088235,0.002629,0.309375,0.020439,0.004429,10.350515,3.319149
...,...,...,...,...,...,...,...,...,...,...
1435,서울,20200930,19,111211.040000,0.002600,0.428000,0.034320,0.018208,31.320000,21.120000
1436,서울,20200930,20,111211.040000,0.002520,0.420000,0.032160,0.016458,27.520000,20.040000
1437,서울,20200930,21,111211.040000,0.002560,0.444000,0.023080,0.017625,22.720000,16.680000
1438,서울,20200930,22,111211.040000,0.002360,0.424000,0.017040,0.019167,19.600000,14.320000
1439,서울,20200930,23,111211.040000,0.002440,0.396000,0.016760,0.016458,17.400000,11.880000

In [33]:
pollution = pollution.sort_values(by=['지역', '측정날짜', '측정일시'], ascending=True).reset_index(drop=True)

In [40]:
pollution_final = pollution.loc[pollution['측정날짜'] >='20190717'].reset_index(drop=True)

pollution_final.drop('측정소코드', axis=1, inplace=True)

In [43]:
pollution_final = np.round(pollution_final, 3)

In [46]:
pollution_final.to_csv('data/가공/지역별미세먼지데이터_최종.csv', encoding='utf-8')

In [47]:
pollution_final

       지역      측정날짜 측정일시    SO2     CO     O3    NO2    PM10    PM25
0      경기  20190717   00  0.004  0.628  0.025  0.027  79.512  54.272
1      경기  20190717   01  0.003  0.543  0.013  0.023  57.704  39.325
2      경기  20190717   02  0.003  0.538  0.011  0.022  61.753  39.952
3      경기  20190717   03  0.003  0.533  0.010  0.020  59.707  39.904
4      경기  20190717   04  0.003  0.530  0.009  0.019  56.691  37.790
...    ..       ...  ...    ...    ...    ...    ...     ...     ...
21211  서울  20200930   19  0.003  0.428  0.034  0.018  31.320  21.120
21212  서울  20200930   20  0.003  0.420  0.032  0.016  27.520  20.040
21213  서울  20200930   21  0.003  0.444  0.023  0.018  22.720  16.680
21214  서울  20200930   22  0.002  0.424  0.017  0.019  19.600  14.320
21215  서울  20200930   23  0.002  0.396  0.017  0.016  17.400  11.880

[21216 rows x 9 columns]