## 코로나 확진자 (서울, 경기도) 파일 병합하기

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 1) 서울시

In [34]:
raw_seoul = pd.read_csv('data/서울시 코로나19 확진자 현황.csv', engine='python')
raw_seoul

,연번,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일,노출여부
0,33656,2021-04-08,NaN,NaN,NaN,성북구,NaN,기타 확진자 접촉,NaN,NaN,NaN,2021-04-09 11:06:20,2021-04-09 11:06:20,Y
1,33655,2021-04-08,NaN,NaN,NaN,영등포구,NaN,병원 및 요양시설,NaN,NaN,NaN,2021-04-09 11:06:20,2021-04-09 11:06:20,Y
2,33654,2021-04-08,NaN,NaN,NaN,광진구,NaN,감염경로 조사중,NaN,NaN,NaN,2021-04-09 11:06:20,2021-04-09 11:06:20,Y
3,33653,2021-04-08,NaN,NaN,NaN,강서구,NaN,감염경로 조사중,NaN,NaN,NaN,2021-04-09 11:06:20,2021-04-09 11:06:20,Y
4,33652,2021-04-08,NaN,NaN,NaN,은평구,NaN,병원 및 요양시설,NaN,NaN,NaN,2021-04-09 11:06:20,2021-04-09 11:06:20,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33651,5,2020-01-31,NaN,NaN,NaN,성북구,NaN,기타 확진자 접촉,NaN,퇴원,NaN,2021-03-24 10:53:39,2021-03-24 13:05:30,Y
33652,4,2020-01-30,NaN,NaN,NaN,마포구,중국,해외유입,NaN,퇴원,NaN,2021-03-24 10:53:39,2021-03-24 13:05:30,Y
33653,3,2020-01-30,NaN,NaN,NaN,종로구,NaN,종로구 집단발병,NaN,퇴원,NaN,2021-03-24 10:53:39,2021-03-24 13:05:30,Y
33654,2,2020-01-30,NaN,NaN,NaN,중랑구,중국,해외유입,NaN,퇴원,NaN,2021-03-24 10:53:39,2021-03-24 13:05:30,Y
33655,1,2020-01-24,NaN,NaN,NaN,강서구,중국,해외유입,NaN,퇴원,NaN,2021-03-24 10:53:39,2021-03-24 13:05:30,Y

In [35]:
## 확진일 포맷 변경
raw_seoul['확진일']= pd.to_datetime(raw_seoul['확진일'].astype('str'), format='%Y-%m-%d')

In [36]:
sort_seoul = raw_seoul.sort_values('확진일', ascending=True)

In [37]:
grouped_seoul = sort_seoul.groupby('확진일').count()[['연번']].reset_index()

In [45]:
grouped_seoul['광역시도명'] = '서울'

In [47]:
grouped_seoul.columns = ['확진일자', '확진자수', '광역시도명']

In [48]:
grouped_seoul

          확진일자  확진자수 광역시도명
0   2020-01-24     1    서울
1   2020-01-30     3    서울
2   2020-01-31     3    서울
3   2020-02-02     1    서울
4   2020-02-05     2    서울
..         ...   ...   ...
404 2021-04-04   152    서울
405 2021-04-05   147    서울
406 2021-04-06   198    서울
407 2021-04-07   244    서울
408 2021-04-08   215    서울

[409 rows x 3 columns]

### 2) 경기도

In [39]:
raw_gg = pd.read_excel('data/2.xlsx')
raw_gg.head()

,연번,확진자,성별,나이(만),연령대,확진일자,증상발현일,무증상/조사중,경기번호,지역,재검출,감염경로,GRP,구분,구분2,구분.1
0,1,3,M,54,50,2020. 1. 26.,2020. 1. 22.,,고양-1,고양일산서,,해외유입,grp01,Primary,,Primary
1,2,4,M,55,50,2020. 1. 27.,2020. 1. 25.,,평택-1,평택,,해외유입,grp02,Primary,,Primary
2,3,12,M,48,40,2020. 2. 1.,2020. 1. 20.,,부천-1,부천,,해외유입,grp03,Primary,,Primary
3,4,14,F,40,40,2020. 2. 2.,2020. 1. 29.,,부천-2,부천,,해외유입,grp03,접촉자,,접촉자
4,5,15,M,42,40,2020. 2. 5.,2020. 2. 1.,,수원-1,수원장안,,해외유입,grp04,Primary,,Primary

In [40]:
raw_gg['확진일자'] = pd.to_datetime(raw_gg['확진일자'].astype('str'))

In [41]:
raw_gg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29995 entries, 0 to 29994
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연번       29995 non-null  int64
 1   확진자      29995 non-null  object
 2   성별       29995 non-null  object
 3   나이(만)    29995 non-null  int64
 4   연령대      29995 non-null  object
 5   확진일자     29995 non-null  datetime64[ns]
 6   증상발현일    19222 non-null  object
 7   무증상/조사중  29995 non-null  object
 8   경기번호     29994 non-null  object
 9   지역       29995 non-null  object
 10  재검출      29995 non-null  object
 11  감염경로     29995 non-null  object
 12  GRP      29995 non-null  object
 13  구분       7462 non-null   object
 14  구분2      29995 non-null  object
 15  구분.1     7462 non-null   object
dtypes: datetime64[ns](1), int64(2), object(13)
memory usage: 3.7+ MB

In [42]:
grouped_gg = raw_gg.groupby('확진일자').count()[['연번']].reset_index()

In [49]:
grouped_gg['광역시도명'] = '경기도'

In [51]:
grouped_gg.columns = ['확진일자', '확진자수', '광역시도명']

In [52]:
grouped_gg

          확진일자  확진자수 광역시도명
0   2020-01-26     1   경기도
1   2020-01-27     1   경기도
2   2020-02-01     1   경기도
3   2020-02-02     1   경기도
4   2020-02-05     2   경기도
..         ...   ...   ...
413 2021-04-04   108   경기도
414 2021-04-05   121   경기도
415 2021-04-06   170   경기도
416 2021-04-07   226   경기도
417 2021-04-08   197   경기도

[418 rows x 3 columns]

In [53]:
covid_final = pd.concat([grouped_seoul, grouped_gg], axis=0)

In [55]:
covid_final.sort_values('확진일자', ascending=True)

          확진일자  확진자수 광역시도명
0   2020-01-24     1    서울
0   2020-01-26     1   경기도
1   2020-01-27     1   경기도
1   2020-01-30     3    서울
2   2020-01-31     3    서울
..         ...   ...   ...
415 2021-04-06   170   경기도
416 2021-04-07   226   경기도
407 2021-04-07   244    서울
408 2021-04-08   215    서울
417 2021-04-08   197   경기도

[827 rows x 3 columns]

In [56]:
covid_final.to_csv('data/가공/서울경기_코로나_확진자현황.csv', encoding='utf-8')